<md-dialog>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 ng-show="$ctrl.hasUpdate">Atualizar dados Usuário</h2>
                <h2 ng-show="!$ctrl.hasUpdate">Cadastrar novo Usuário</h2>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <h2 ng-show="alert">{{alert.message}}</h2>
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Nome</label>
                        <input ng-model="$ctrl.user.name">
                    </md-input-container>
                </div>
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Email</label>
                        <input ng-model="$ctrl.user.email">
                    </md-input-container>
                </div>
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Time</label>
                        <md-select ng-model="$ctrl.user.team">
                            <md-option ng-repeat="club in clubs" value="{{club.id}}">
                                {{club.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout-gt-xs="row">
                    <div flex-gt-xs>
                        <h4>Data de Nascimento</h4>
                        <md-datepicker id="startDate" ng-model="$ctrl.user.birthDate" md-placeholder="Data Nascimento"></md-datepicker>
                    </div>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="close()" class="md-primary">
                Fechar
            </md-button>
            <md-button ng-click="save($ctrl.user)">
                Salvar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>